* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

:root {
  --sand: #c1aa96;
  --icedcoffee: #aa8c5a;
  --red: #815353;
  --deepred: #5e3f24;
  --green: #816840;
}

$grid-columns: 10;

$grid-gutter-width: 20px;

@import "bootstrap/scss/bootstrap-grid";

// général //

body {
  color: white;
  text-align: center;
  font-family: "Rama Gothic E";
}

header {
  background: var(--sand);
}

main {
  background: var(--sand);
}

footer {
  background: var(--red);
}

// header //

.main-nav {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.sec-nav {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.but-nav {
  display: flex;
  flex-direction: row;
}

.navig {
  width: 26px;
}

.main-logo {
  margin-left: -40px;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

// main //

header {
  background: var(--sand);
  box-shadow: 0px 8px 5.5px 0px rgba(0, 0, 0, 0.31);
  height: 140px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

main {
  background: var(--sand);
}

footer {
  background: var(--red);
  height: 434px;
  display: flex;
  align-items: center;
}

.titre {
  font-family: "Happy Student";
  font-size: 96px;
  font-weight: 400;
  text-transform: uppercase;
}

//accueil//

.accueil {
  padding-top: 150px;
}

.accueil a {
  //structure//
  display: flex;
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  //style//
  width: 150px;
  height: 40px;
  background: var(--deepred);
  box-shadow: 7px 8px 4px 0px rgba(0, 0, 0, 0.66);
  //font//
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.accueil a:hover {
  text-decoration: underline;
}

.carton_droite {
  background-image: url("../images/Logos/grappe.png");
  background-repeat: no-repeat;
  background-position: 60% 40%;
}

.banderolle {
  background: var(--icedcoffee);
  height: 65px;
}

.Carton_accueil {
  //image//
  background-image: url("../images/Logos/Ego.png");
  aspect-ratio: 1;
  background-size: 100%;
  top: 40px;
  //structure//
  //padding: 40px;//
}

.carton_droite img {
  padding-left: -30px;
}

//articles//

//article 1//

.pinot-noir {
  background-image: url(../images/Articles/Pinot-noir.png);
  aspect-ratio: 819/604;
  background-size: cover;
  position: relative;
  margin-top: 54px;
}

.pinot-noir-photo {
  //image de fond//
  background-image: url(../images/Photos/closeup-shot-green-grape-leaves-with-beautiful-green-landscape.jpg);
  aspect-ratio: 3/2;
  background-size: cover;
  position: absolute;
  left: 20px;
  right: -20px;
  bottom: 55px;
  //structure//
  display: flex;
}

.bouteilles-twins {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.bouteilles-twins img {
  max-width: 100%;
}

.pinot-noir a {
  display: flex;
  width: 150px;
  height: 40px;
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  //button style//
  background: var(--deepred);
  box-shadow: 7px 8px 4px 0px rgba(0, 0, 0, 0.66);
  //font//
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: auto;
  margin-left: -40px;
  margin-top: 330px;
}

//article 2//

.philosophie-photo {
  background-image: url(../images/Articles/Philosophie.png);
  aspect-ratio: 1;
  background-size: cover;
  position: absolute;
  display: flex;
}

p {
  font-size: 32px;
  font-weight: 300;
}

.illustration {
  background-image: url(../images/Logos/Illustration_fond+.png);
}

//article 4//

.degustation {
  background-image: url(../images/Articles/Degustation.png);
  background-size: cover;
  aspect-ratio: 180/101;
  top: 112px;
  display: flex;
  padding-bottom: 70px;
}

//page 2//

.filarianne {
  display: flex;
  padding-top: 174px;
  padding-bottom: 103px;
  align-items: center;
  gap: 47px;
}

.filarianne img {
  width: 33px;
}

.filarianne a {
  font-size: 24px;
  font-weight: 400;
}

.page-vin {
  background-image: url(../images/Articles/Fond-page2.jpg);
  aspect-ratio: 228/293;
  background-size: cover;
  padding-bottom: 113px;
}

.pinot-noir-debout {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
}

.legendes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //font//
  font-size: 32px;
  font-weight: 600;
}

.textes-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //font//
  font-size: 32px;
  font-weight: 300;
}

// footer //

.card {
  background: var(--sand);
  box-shadow: 10px 12px 4.5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  height: 236px;
  //font//
  font-size: 24px;
  font-weight: 300;
}

.local-logo .card {
  height: 142px;
}

.local-logo img {
  margin-top: -56px;
  margin-left: 30px;
  padding-bottom: 36px;
}

.newsletter {
  height: 134px;
}

.logos-partenaires {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.logos-partenaires img {
  max-width: 30%;
}

.tel {
  //cadre blanc//
  display: flex;
  width: 126px;
  height: 37px;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: white;
  //font//
  color: #000;
  font-size: 24px;
  font-weight: 300;
}

.interaction {
  display: flex;
  gap: 20px;
}

.inscription {
  display: flex;
  width: 96px;
  height: 31px;
  padding: 1px 0px;
  justify-content: center;
  align-items: center;
  background: var(--deepred);
}

input {
  display: flex;
  width: 218px;
  height: 31px;
  padding: 6px 7px;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  border: 1px solid #fff;
  background: #b66d6d;
  //font//
  color: #ccb2b2;
  font-family: "Rama Gothic E";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
