* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

:root {
  --sand: #c1aa96;
  --icedcoffee: #aa8c5a;
  --red: #815353;
  --deepred: #5e3f24;
  --green: #816840;
}

$grid-columns: 10;

$grid-gutter-width: 20px;

@import "bootstrap/scss/bootstrap-grid";

// général //

body {
  color: white;
  text-align: center;
  font-family: "Rama Gothic E";
}

header {
  background: var(--sand);
}

main {
  background: var(--sand);
}

footer {
  background: var(--red);
}

// header //

.navig1 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.navig2 {
  font-size: 16px;
  font-weight: 300;
}

.navig {
  width: 26px;
}

// main //

header {
  background: var(--sand);
}

main {
  background: var(--sand);
}

footer {
  background: var(--red);
}

// footer //

.card {
  background: var(--sand);
  box-shadow: 10px 12px 4.5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //font//
  font-size: 24px;
  font-weight: 300;
}

.tel {
  //cadre blanc//
  display: flex;
  width: 126px;
  height: 37px;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: white;
  //font//
  color: #000;
  font-size: 24px;
  font-weight: 300;
}

.interaction {
  display: flex;
  gap: 20px;
}

.inscription {
  display: flex;
  width: 96px;
  height: 31px;
  padding: 1px 0px;
  justify-content: center;
  align-items: center;
  background: var(--deepred);
}
